@media screen and (min-width: 1281px) {
    .flexbox{
        flex-wrap: nowrap;
        gap: 1em;
    }
    #operation .flexbox{
        flex-direction: row;
    }
    footer .flexbox{
        flex-direction: row;
        justify-content: space-around;
    }
}