/*----Menu Specific----*/
h1{
    font-family: 'Shrikhand', sans-serif;
    font-size: 1.8em;
    font-weight: 400;
}
h2{
    margin: 2em 0 0.3em 0;
    font-size: 0.96em;
    font-weight: 300;
    text-transform: uppercase;
}
h3{
    margin: 0 0 0.2em 0;
    font-size: 1.1em;
    font-weight: 500;
    overflow: hidden;/*hidden+ellipsis hides text overflow and add dots*/
    text-overflow: ellipsis;
}
p{
    margin: 0;
    font-weight: 300;
    font-size: 0.95em;
    overflow: hidden;/*hidden+ellipsis hides text overflow and add dots*/
    text-overflow: ellipsis;
}
span{
    font-weight: 500;
    font-size: 0.96em;
    margin-left: 0.7em;
    align-self: flex-end;/*position without padding*/
}
main{
    margin-top: 222px;
    padding: 1.5em 1em 0 1em;
    border-radius: 2.2em 2.2em 0 0;
    background-color: #fff;
    animation: slidein 1s ease-out;
}
.btn-main{
    margin: 2.4em 0 4em 0;
    padding: 1em 3em;
    font-size: 1em;
}
.btn-hearts{
    top: 8px;
    right: 43px;
}
.btn-hearts i{
    font-size: 1.8em;
}
/*----Header/title Section----*/
.back-img{
    position: fixed;
    z-index: -1;
}
#title-box{
    position: relative;/*for the btn-hearts position*/
}
/*----Menu Section----*/
.dish-box{
    max-width: 100%;/*so the box don't grow*/
    animation: fullfadein 1500ms ease-out 1000ms both;
}
.dish-box.main-course{
    animation-delay: 1300ms;
}
.dish-box.dessert{
    animation-delay: 1600ms;
}
.underline{
    width: 42px;
    border-top: 3px solid #99E2D0;
    margin-bottom: 1em;
}
.dish{
    box-shadow: 0px 4px 10px 13px rgba(45, 45, 45, 0.05);
    padding: 0.7em;
    margin-bottom: 1em;
    border-radius: 1em;
    display: flex;
    overflow: hidden;/*hides check-slides outside the dish box*/
}
.dish-text{
    flex: 1;
    overflow: hidden;
    white-space: nowrap;/*would be broken words are covered*/
}
/*Check-slide*/
.check-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    width: 0;
    margin: -0.9em -0.9em -0.9em 1.5em;/*cover the padding of dish*/
    transition: 0.8s;
    border: none;
    padding: 0;
}
.check-slide i{
    color: #fff;
    font-size: 1.5em;
}
.check-slide:hover{
    cursor: pointer;
}
.dish:hover .check-slide{
    width: 20%;
}
.dish:active .check-slide{
    width: 20%;
}
.dish:hover i{
    transform: rotate(1turn);
    transition: 450ms 200ms ease-out;
}
.dish:active i{
    transform: rotate(1turn);
    transition: 450ms 200ms ease-out;
}
.center-box{
    text-align: center;/*easy center for button commande*/
}
/*----Responsive rule----*/
@media screen and (min-width: 801px) {
    #menu-box.flexbox{
        align-content: center;
    }
    .dish-box{
        width: 70%;
    }
}
@media screen and (min-width: 1281px){
    #menu-box.flexbox{
        justify-content: center;
    }
    .dish-box{
        width: 30%;
    }
}